h2.text-center.p-2 Transfrorm diagonal

//- Up-left
.c-section.demo(style='padding-top: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>up,</u> <br>
      | Right-angle position: <u>left</u>
  .trans_up(style='height: 90px;')
    .trans_diagonal_left
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 0 V 100 L 100 0 Z' style='fill: #ffffff;')


// Up-right       
.c-section.demo(style='padding-top: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>up,</u> <br>
      | Right-angle position: <u>right</u>
  .trans_up(style='height: 90px;')
    .trans_diagonal_right
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 0 H 100 V 100 Z' style='fill: #ffffff;')

// Down-left  
.c-section.demo(style='padding-bottom: 90px;')
  .c-section__inner.color-primary
      h2.c-section__title.text-center.mt-4 
        | Position: <u>down,</u> <br>
        | Right-angle position: <u>left</u>
  .trans_down(style='height: 90px;')
    .trans_diagonal_left
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 0 V 100 H 100 Z' style='fill: #ffffff;')
        
//- Down-right
.c-section.demo(style='padding-bottom: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>down,</u> <br>
      | Right-angle position: <u>right</u>
  .trans_down(style='height: 90px;')
    .trans_diagonal_right
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 100 H 100 V 0 Z' style='fill: #ffffff;')

// Combined to right
.c-section.demo(style='padding-top: 90px; padding-bottom: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>up, down</u> <br>
      | Right-angle position: <u>top-left, bottom-right</u>
  .trans_up(style='height: 90px;')
    .trans_diagonal_left
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 0 V 100 L 100 0 Z' style='fill: #ffffff;')
  .trans_down(style='height: 90px;')
    .trans_diagonal_right
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 100 H 100 V 0 Z' style='fill: #ffffff;')
        
// Combined to left
.c-section.demo(style='padding-top: 90px; padding-bottom: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>up, down</u> <br>
      | Right-angle position: <u>top-right, bottom-left</u>
  .trans_up(style='height: 90px;')
    .trans_diagonal_right
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 0 H 100 V 100 Z' style='fill: #ffffff;')
  .trans_down(style='height: 90px;')
    .trans_diagonal_left
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 0 V 100 H 100 Z' style='fill: #ffffff;')


h2.text-center.p-2 Transfrorm triangles

//- triangle-up
.c-section.demo(style='padding-top: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>up</u> <br>
      | Started from: <u>center</u>
  .trans_up(style='height: 90px;')
    .trans_triangle_down
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0.00 0 L 50 100 L 100.00 0 Z' style='fill: #ffffff;')
        
//- triangle-down1
.c-section.demo(style='padding-bottom: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>down</u> <br>
      | Started from: <u>center</u>
  .trans_down(style='height: 90px;')
    .trans_triangle_down
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 100 H 100 V 0 H 100.00 L 50 100 L 0.00 0 H 0 Z' style='fill: #ffffff;')

//- triangle-down2
.c-section.demo(style='padding-bottom: 20px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>down</u> <br>
      | Started from: <u>center</u>
  .trans_down
    .trans_triangle_down(style='height: 20px;')
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 100 H 100 V 0 H 52.50 L 50 100 L 47.50 0 H 0 Z' style='fill:#ffffff;')

        
//- triangle-down3
.c-section.demo(style='padding-bottom: 50px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>down</u> <br>
      | Started from: <u>center</u>
  .trans_down
    .trans_triangle_up(style='height: 50px;')
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 40.00 100 L 50 0 L 60.00 100 Z' style='fill: #ffffff;')

        
//- triangle-combined
.c-section.demo(style='padding-top: 90px; padding-bottom: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>up, down</u> <br>
      | Started from: <u>center</u>
  .trans_up(style='height: 90px;')
    .trans_triangle_down
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0.00 0 L 50 100 L 100.00 0 Z' style='fill: #ffffff;')
  .trans_down(style='height: 90px;')
    .trans_triangle_down
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 100 H 100 V 0 H 100.00 L 50 100 L 0.00 0 H 0 Z' style='fill: #ffffff;')
    
h2.text-center.p-2 Transfrorm semicircles

//- semicircle-up
.c-section.demo(style='padding-top: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>up</u> <br>
      | Started from: <u>center</u>
  .trans_up(style='height: 90px;')
    .trans_semicircle_down
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 0 C 40 132 60 132 100 0 Z' style='fill: #ffffff;')
 
//- semicircle down
.c-section.demo(style='padding-bottom: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>down</u> <br>
      | Started from: <u>center</u>
  .trans_down(style='height: 90px;')
    .trans_semicircle_down
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 0 C 40 132 60 132 100 0 V 100 H 0 Z' style='fill: #ffffff;')
        

 
//- semicircle combined
.c-section.demo(style='padding-top: 90px; padding-bottom: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>up, down</u> <br>
      | Started from: <u>center</u>
  .trans_up(style='height: 90px;')
    .trans_semicircle_down
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 0 C 40 132 60 132 100 0 Z' style='fill: #ffffff;')  
  .trans_down(style='height: 90px;')
    .trans_semicircle_down
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 0 C 40 132 60 132 100 0 V 100 H 0 Z' style='fill: #ffffff;')