//- TODO: make mixin
//- Up-left (only one example)
.c-section.demo(style='padding-top: 90px;')
  .c-section__inner.color-primary
    h2.c-section__title.text-center.mt-4 
      | Position: <u>up,</u> <br>
      | Right-angle position: <u>left</u>
  .trans_up(style='height: 90px;')
    .trans_diagonal_left
      svg(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 100' preserveaspectratio='none')
        path(d='M 0 0 V 100 L 100 0 Z' style='fill: #ffffff;')